<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    
  
    <div class=" d-flex align-items-center justify-content-between">
        <div class="card-title mb-0">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Home /</span> Basic Tables</h4>
        </div>
        <div class="dropdown">
            <button class="btn btn-primary btn-toggle-sidebar w-100" data-bs-toggle="offcanvas"
                data-bs-target="#addEventSidebar" aria-controls="addEventSidebar">
                <i class="bx bx-plus bx-16px me-2"></i>
                <span class="align-middle">Add Transaction</span>
            </button>

        </div>
</div>



      <!-- Basic Bootstrap Table -->
      <div class="card">

        

          <div class="card-header d-flex align-items-center justify-content-between"><div class="head-label "><h5 class="card-title mb-0 text-nowrap">Course you are taking</h5></div><div id="DataTables_Table_0_filter" class="dataTables_filter"><label><input type="search" class="form-control" placeholder="Search Course" aria-controls="DataTables_Table_0"></label></div></div>


          <div class="table-responsive text-nowrap" *ngIf="transactionList.length > 0">
              <table class="table">
                  <thead>
                      <tr>
                        <th>Expense Name</th>
                        <th>Category</th>
                        <th>Amount</th>
                        <th>Date</th>
                          <th>Actions</th>
                      </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                    <tr *ngFor="let expense of transactionResponse?.list">
                        <td>{{ expense.expense_name }}</td>
                        <td>{{ expense.category_name }}</td>
                        <td>{{ expense.amount }}</td>
                        <td>{{ expense.date_of_transaction | date }}</td>
                          <td>
                              <div class="dropdown">
                                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                      data-bs-toggle="dropdown">
                                      <i class="bx bx-dots-vertical-rounded"></i>
                                  </button>
                                  <div class="dropdown-menu">
                                      <a class="dropdown-item" href="javascript:void(0);"><i
                                              class="bx bx-edit-alt me-1"></i> Edit</a>
                                      <a class="dropdown-item" href="javascript:void(0);"><i
                                              class="bx bx-trash me-1"></i> Delete</a>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      
                  </tbody>
              </table>
          </div>

          <div *ngIf="transactionList.length === 0" class="text-center py-3">
            No transactions found.
          </div>

      </div>
      <!--/ Basic Bootstrap Table -->

      <hr class="my-5" />


  </div>
  <!-- / Content -->



  <div class="content-backdrop fade"></div>
</div>

<!-- <infinite-scroll
  [infiniteScrollDistance]="scrollDistance"
  [infiniteScrollUpDistance]="scrollUpDistance"
  [infiniteScrollDownDistance]="scrollDownDistance"
  [infiniteScrollDisabled]="false"
  [infiniteScrollEnabled]="true"
  [infiniteScrollMaxSize]="500"
  (scrolled)="loadData()">
</infinite-scroll> -->