<div class="row mb-3">
    <div class="col">
        <h6 class="title">Details<br>
        </h6>
    </div>
    <div class="col-auto align-self-center">
        <a *ngIf="!!this.currentId" class="small" (click)="delete()">Delete</a>
        
    </div>
</div>

<form [formGroup]="profileForm">
    <div class="row h-100 mb-4">


        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="form-group form-floating">
                <input type="text" class="form-control" value="" id="firstname" placeholder=""
                    formControlName="firstname">
                <label class="form-control-label" for="firstname">firstname</label>
            </div>
        </div>


        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="form-group form-floating">
                <input type="text" class="form-control" value="" id="lastname" placeholder=""
                    formControlName="lastname">
                <label class="form-control-label" for="lastname">lastname</label>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="form-group form-floating">
                <select formControlName="gender" class="form-control">
                    <option selected value="">Select</option>
                    <option value="f">Female</option>
                    <option value="m">Male</option>
                </select>
                <label class="form-control-label" for="gender">Gender</label>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="form-group form-floating">
                <input type="text" class="form-control" value="" id="date_of_birth" placeholder=""
                    formControlName="date_of_birth">
                <label class="form-control-label" for="date_of_birth">Date of Birth</label>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="form-group form-floating">
                <input type="text" class="form-control" value="" id="date_of_birth" placeholder=""
                    formControlName="date_of_birth">
                <label class="form-control-label" for="date_of_birth">Religion</label>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="form-group form-floating">
                <input type="text" class="form-control" value="" id="username" placeholder=""
                    formControlName="username">
                <label class="form-control-label" for="username">username</label>
            </div>
        </div>


        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="form-group form-floating">
                <input type="text" class="form-control" value="" id="phone" placeholder="" formControlName="phone">
                <label class="form-control-label" for="phone">phone</label>
            </div>
        </div>


        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="form-group form-floating">
                <input type="text" class="form-control" id="email" formControlName="email">
                <label class="form-control-label" for="email">email</label>
            </div>
        </div>


        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="form-group form-floating">
                <input type="text" class="form-control" id="password" formControlName="password">
                <label class="form-control-label" for="password">{{'PASSWORD' | translate}}</label>
            </div>
        </div>
        
    </div>


</form>


<div class="row mb-4">
    <div class="col-12 ">
        <button (click)="onSubmit()" class="btn btn-default btn-lg shadow-sm w-100">
            Save
        </button>
    </div>
</div>