<div class="row mb-3">
    <div class="col">
      <h6 class="title">{{ 'BUDGET_PLANNER' | translate }}<br></h6>
    </div>
    <div class="col-auto align-self-center">
      <select 
        [(ngModel)]="currentYear" 
        class="form-select" 
        aria-label="Select Year" 
        (change)="getBudgetAllocations()">
        <option *ngFor="let year of yearList" [value]="year">{{ year }}</option>
      </select>
    </div>
  </div>
  

<form *ngIf="categoryList"  [formGroup]="categoryForm" >
    <div class="row mb-4">
        <mat-tab-group>
            <mat-tab *ngFor="let type of categoryTypesList">
                <ng-template mat-tab-label>
                    {{type.name | titlecase}}
                </ng-template>
                <div class="col-12 px-0">
                    <ul class="list-group list-group-flush bg-none">
                        <li class="list-group-item" *ngFor="let category of categoryList | filterByCategoryType: type.id_type ; let i = index">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col-auto">
                                    <div class="avatar avatar-50 shadow rounded-10">
                                        <img *ngIf="!!categoryImagePath + category.category_image" [src]="categoryImagePath + category.category_image" [alt]="category?.expense_name">
                                    </div>
                                </div>
                                <div class="col align-self-center ps-0">
                                    <p class="text-color-theme mb-0">{{category?.category_name}}</p>
                                    <p class="text-muted size-12">{{category.status == 1 ? 'Active' : 'In-Active'}}</p>
                                </div>
                                <div class="col-auto d-flex align-items-center ms-auto">
                                    <input
                                      type="text"
                                      class="form-control me-2 responsive-input"
                                      placeholder="Amount"
                                      min="1"
                                      max="1000000"
                                      [formControlName]="'amount_' + category.id_category"
                                    />
                                  </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</form>

<div class="row mb-4">
    <div class="col-12 ">
        <button (click)="onSubmit()" class="btn btn-default btn-lg shadow-sm w-100">
            {{'SAVE' | translate}}
        </button>
    </div>
</div>