
<div class="container-xxl flex-grow-1 container-p-y" >
  <div class="row">
    <div class="col-xxl-8 mb-6 order-0">
      <div class="card">
        <div class="d-flex align-items-start row">
          <div class="col-sm-7">
            <div class="card-body">
              <h5 class="card-title text-primary mb-3">Congratulations John! 🎉</h5>
              <p class="mb-6">You have done 72% more sales today.<br>Check your new badge in your profile.</p>

              <a href="javascript:;" class="btn btn-sm btn-label-primary">View Badges</a>
            </div>
          </div>
          <div class="col-sm-5 text-center text-sm-left">
            <div class="card-body pb-0 px-0 px-md-6">
              <img src="/assets/img/illustrations/man-with-laptop.png" height="175" class="scaleX-n1-rtl"
                alt="View Badge User">
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="col-6 col-sm-6 col-lg-6  mt-3">
      <div class="card h-100">
        <div class="card-body">
          <div class="d-flex justify-content-between" style="position: relative;">
            <div class="d-flex flex-column">
              <div class="card-title mb-auto">
                <h5 class="mb-0">Expenses</h5>
                <!-- <p class="mb-0">Monthly Report</p> -->
              </div>
              <div class="chart-statistics">
                <h4 class="card-title mb-0">{{dashboardData?.expenseTotal | currency}}</h4>
              </div>
            </div>
            <div id="leadsReportChart" style="min-height: 149.8px;">
              <div id="apexcharts5k6blez4" class="apexcharts-canvas apexcharts5k6blez4 apexcharts-theme-light"
                style="width: 135px; height: 149.8px;"><svg id="SvgjsSvg1919" width="135" height="149.8"
                  xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                  xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS"
                  transform="translate(0, 0)" style="background: transparent;">
                  <g id="SvgjsG1921" class="apexcharts-inner apexcharts-graphical" transform="translate(2, 5)">
                    <defs id="SvgjsDefs1920">
                      <clipPath id="gridRectMask5k6blez4">
                        <rect id="SvgjsRect1923" width="137" height="145" x="-2" y="0" rx="0" ry="0" opacity="1"
                          stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect>
                      </clipPath>
                      <clipPath id="forecastMask5k6blez4"></clipPath>
                      <clipPath id="nonForecastMask5k6blez4"></clipPath>
                      <clipPath id="gridRectMarkerMask5k6blez4">
                        <rect id="SvgjsRect1924" width="137" height="149" x="-2" y="-2" rx="0" ry="0" opacity="1"
                          stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect>
                      </clipPath>
                    </defs>
                    <g id="SvgjsG1925" class="apexcharts-pie">
                      <g id="SvgjsG1926" transform="translate(0, 0) scale(1)">
                        <circle id="SvgjsCircle1927" r="45.658536585365866" cx="66.5" cy="66.5" fill="transparent">
                        </circle>
                        <g id="SvgjsG1928" class="apexcharts-slices">
                          <g id="SvgjsG1929" class="apexcharts-series apexcharts-pie-series" seriesName="Electronic"
                            rel="1" data:realIndex="0">
                            <path id="SvgjsPath1930"
                              d="M 66.5 5.621951219512184 A 60.878048780487816 60.878048780487816 0 0 1 124.39846499201715 47.68764834244222 L 109.92384874401287 52.390736256831666 A 45.658536585365866 45.658536585365866 0 0 0 66.5 20.841463414634134 L 66.5 5.621951219512184 z"
                              fill="rgba(102,199,50,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt"
                              stroke-width="0" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-0"
                              index="0" j="0" data:angle="72" data:startAngle="0" data:strokeWidth="0" data:value="20"
                              data:pathOrig="M 66.5 5.621951219512184 A 60.878048780487816 60.878048780487816 0 0 1 124.39846499201715 47.68764834244222 L 109.92384874401287 52.390736256831666 A 45.658536585365866 45.658536585365866 0 0 0 66.5 20.841463414634134 L 66.5 5.621951219512184 z">
                            </path>
                          </g>
                          <g id="SvgjsG1931" class="apexcharts-series apexcharts-pie-series" seriesName="Sports" rel="2"
                            data:realIndex="1">
                            <path id="SvgjsPath1932"
                              d="M 124.39846499201715 47.68764834244222 A 60.878048780487816 60.878048780487816 0 0 1 66.5 127.37804878048782 L 66.5 112.15853658536587 A 45.658536585365866 45.658536585365866 0 0 0 109.92384874401287 52.390736256831666 L 124.39846499201715 47.68764834244222 z"
                              fill="rgba(227,248,215,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt"
                              stroke-width="0" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-1"
                              index="0" j="1" data:angle="108" data:startAngle="72" data:strokeWidth="0" data:value="30"
                              data:pathOrig="M 124.39846499201715 47.68764834244222 A 60.878048780487816 60.878048780487816 0 0 1 66.5 127.37804878048782 L 66.5 112.15853658536587 A 45.658536585365866 45.658536585365866 0 0 0 109.92384874401287 52.390736256831666 L 124.39846499201715 47.68764834244222 z">
                            </path>
                          </g>
                          <g id="SvgjsG1933" class="apexcharts-series apexcharts-pie-series" seriesName="Decor" rel="3"
                            data:realIndex="2">
                            <path id="SvgjsPath1934"
                              d="M 66.5 127.37804878048782 A 60.878048780487816 60.878048780487816 0 0 1 8.60153500798284 85.31235165755778 L 23.076151255987128 80.60926374316834 A 45.658536585365866 45.658536585365866 0 0 0 66.5 112.15853658536587 L 66.5 127.37804878048782 z"
                              fill="rgba(170,235,135,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt"
                              stroke-width="0" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-2"
                              index="0" j="2" data:angle="72" data:startAngle="180" data:strokeWidth="0" data:value="20"
                              data:pathOrig="M 66.5 127.37804878048782 A 60.878048780487816 60.878048780487816 0 0 1 8.60153500798284 85.31235165755778 L 23.076151255987128 80.60926374316834 A 45.658536585365866 45.658536585365866 0 0 0 66.5 112.15853658536587 L 66.5 127.37804878048782 z">
                            </path>
                          </g>
                          <g id="SvgjsG1935" class="apexcharts-series apexcharts-pie-series" seriesName="Fashion"
                            rel="4" data:realIndex="3">
                            <path id="SvgjsPath1936"
                              d="M 8.60153500798284 85.31235165755778 A 60.878048780487816 60.878048780487816 0 0 1 66.48937477611985 5.621952146737883 L 66.49203108208988 20.84146411005341 A 45.658536585365866 45.658536585365866 0 0 0 23.076151255987128 80.60926374316834 L 8.60153500798284 85.31235165755778 z"
                              fill="rgba(141,228,95,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt"
                              stroke-width="0" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-3"
                              index="0" j="3" data:angle="108" data:startAngle="252" data:strokeWidth="0"
                              data:value="30"
                              data:pathOrig="M 8.60153500798284 85.31235165755778 A 60.878048780487816 60.878048780487816 0 0 1 66.48937477611985 5.621952146737883 L 66.49203108208988 20.84146411005341 A 45.658536585365866 45.658536585365866 0 0 0 23.076151255987128 80.60926374316834 L 8.60153500798284 85.31235165755778 z">
                            </path>
                          </g>
                        </g>
                      </g>
                      <g id="SvgjsG1937" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)"><text
                          id="SvgjsText1938" font-family="Public Sans" x="66.5" y="86.5" text-anchor="middle"
                          dominant-baseline="auto" font-size="15px" font-weight="400" fill="#646e78"
                          class="apexcharts-text apexcharts-datalabel-label"
                          style="font-family: &quot;Public Sans&quot;;">Average</text><text id="SvgjsText1939"
                          font-family="Public Sans" x="66.5" y="67.5" text-anchor="middle" dominant-baseline="auto"
                          font-size="1.5rem" font-weight="500" fill="#384551"
                          class="apexcharts-text apexcharts-datalabel-value"
                          style="font-family: &quot;Public Sans&quot;;">25%</text></g>
                    </g>
                    <line id="SvgjsLine1940" x1="0" y1="0" x2="133" y2="0" stroke="#b6b6b6" stroke-dasharray="0"
                      stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line>
                    <line id="SvgjsLine1941" x1="0" y1="0" x2="133" y2="0" stroke-dasharray="0" stroke-width="0"
                      stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line>
                  </g>
                  <g id="SvgjsG1922" class="apexcharts-annotations"></g>
                </svg>
                <div class="apexcharts-legend"></div>
                <div class="apexcharts-tooltip apexcharts-theme-false">
                  <div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker"
                      style="background-color: rgb(102, 199, 50);"></span>
                    <div class="apexcharts-tooltip-text"
                      style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                      <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span
                          class="apexcharts-tooltip-text-y-value"></span></div>
                      <div class="apexcharts-tooltip-goals-group"><span
                          class="apexcharts-tooltip-text-goals-label"></span><span
                          class="apexcharts-tooltip-text-goals-value"></span></div>
                      <div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span
                          class="apexcharts-tooltip-text-z-value"></span></div>
                    </div>
                  </div>
                  <div class="apexcharts-tooltip-series-group" style="order: 2;"><span class="apexcharts-tooltip-marker"
                      style="background-color: rgb(227, 248, 215);"></span>
                    <div class="apexcharts-tooltip-text"
                      style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                      <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span
                          class="apexcharts-tooltip-text-y-value"></span></div>
                      <div class="apexcharts-tooltip-goals-group"><span
                          class="apexcharts-tooltip-text-goals-label"></span><span
                          class="apexcharts-tooltip-text-goals-value"></span></div>
                      <div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span
                          class="apexcharts-tooltip-text-z-value"></span></div>
                    </div>
                  </div>
                  <div class="apexcharts-tooltip-series-group" style="order: 3;"><span class="apexcharts-tooltip-marker"
                      style="background-color: rgb(170, 235, 135);"></span>
                    <div class="apexcharts-tooltip-text"
                      style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                      <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span
                          class="apexcharts-tooltip-text-y-value"></span></div>
                      <div class="apexcharts-tooltip-goals-group"><span
                          class="apexcharts-tooltip-text-goals-label"></span><span
                          class="apexcharts-tooltip-text-goals-value"></span></div>
                      <div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span
                          class="apexcharts-tooltip-text-z-value"></span></div>
                    </div>
                  </div>
                  <div class="apexcharts-tooltip-series-group" style="order: 4;"><span class="apexcharts-tooltip-marker"
                      style="background-color: rgb(141, 228, 95);"></span>
                    <div class="apexcharts-tooltip-text"
                      style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                      <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span
                          class="apexcharts-tooltip-text-y-value"></span></div>
                      <div class="apexcharts-tooltip-goals-group"><span
                          class="apexcharts-tooltip-text-goals-label"></span><span
                          class="apexcharts-tooltip-text-goals-value"></span></div>
                      <div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span
                          class="apexcharts-tooltip-text-z-value"></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="resize-triggers">
              <div class="expand-trigger">
                <div style="width: 904px; height: 151px;"></div>
              </div>
              <div class="contract-trigger"></div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="col-6 col-sm-6 col-lg-6  mt-3">
      <div class="card h-100">
        <div class="card-body">
          <div class="d-flex justify-content-between" style="position: relative;">
            <div class="d-flex flex-column">
              <div class="card-title mb-auto">
                <h5 class="mb-0">Savings</h5>
                <!-- <p class="mb-0">Monthly Report</p> -->
              </div>
              <div class="chart-statistics">
                <h4 class="card-title mb-0">{{dashboardData?.expenditureTotal | currency}}</h4>
              </div>
            </div>
            <div id="leadsReportChart" style="min-height: 149.8px;">
              <div id="apexcharts5k6blez4" class="apexcharts-canvas apexcharts5k6blez4 apexcharts-theme-light"
                style="width: 135px; height: 149.8px;"><svg id="SvgjsSvg1919" width="135" height="149.8"
                  xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                  xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS"
                  transform="translate(0, 0)" style="background: transparent;">
                  <g id="SvgjsG1921" class="apexcharts-inner apexcharts-graphical" transform="translate(2, 5)">
                    <defs id="SvgjsDefs1920">
                      <clipPath id="gridRectMask5k6blez4">
                        <rect id="SvgjsRect1923" width="137" height="145" x="-2" y="0" rx="0" ry="0" opacity="1"
                          stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect>
                      </clipPath>
                      <clipPath id="forecastMask5k6blez4"></clipPath>
                      <clipPath id="nonForecastMask5k6blez4"></clipPath>
                      <clipPath id="gridRectMarkerMask5k6blez4">
                        <rect id="SvgjsRect1924" width="137" height="149" x="-2" y="-2" rx="0" ry="0" opacity="1"
                          stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect>
                      </clipPath>
                    </defs>
                    <g id="SvgjsG1925" class="apexcharts-pie">
                      <g id="SvgjsG1926" transform="translate(0, 0) scale(1)">
                        <circle id="SvgjsCircle1927" r="45.658536585365866" cx="66.5" cy="66.5" fill="transparent">
                        </circle>
                        <g id="SvgjsG1928" class="apexcharts-slices">
                          <g id="SvgjsG1929" class="apexcharts-series apexcharts-pie-series" seriesName="Electronic"
                            rel="1" data:realIndex="0">
                            <path id="SvgjsPath1930"
                              d="M 66.5 5.621951219512184 A 60.878048780487816 60.878048780487816 0 0 1 124.39846499201715 47.68764834244222 L 109.92384874401287 52.390736256831666 A 45.658536585365866 45.658536585365866 0 0 0 66.5 20.841463414634134 L 66.5 5.621951219512184 z"
                              fill="rgba(102,199,50,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt"
                              stroke-width="0" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-0"
                              index="0" j="0" data:angle="72" data:startAngle="0" data:strokeWidth="0" data:value="20"
                              data:pathOrig="M 66.5 5.621951219512184 A 60.878048780487816 60.878048780487816 0 0 1 124.39846499201715 47.68764834244222 L 109.92384874401287 52.390736256831666 A 45.658536585365866 45.658536585365866 0 0 0 66.5 20.841463414634134 L 66.5 5.621951219512184 z">
                            </path>
                          </g>
                          <g id="SvgjsG1931" class="apexcharts-series apexcharts-pie-series" seriesName="Sports" rel="2"
                            data:realIndex="1">
                            <path id="SvgjsPath1932"
                              d="M 124.39846499201715 47.68764834244222 A 60.878048780487816 60.878048780487816 0 0 1 66.5 127.37804878048782 L 66.5 112.15853658536587 A 45.658536585365866 45.658536585365866 0 0 0 109.92384874401287 52.390736256831666 L 124.39846499201715 47.68764834244222 z"
                              fill="rgba(227,248,215,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt"
                              stroke-width="0" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-1"
                              index="0" j="1" data:angle="108" data:startAngle="72" data:strokeWidth="0" data:value="30"
                              data:pathOrig="M 124.39846499201715 47.68764834244222 A 60.878048780487816 60.878048780487816 0 0 1 66.5 127.37804878048782 L 66.5 112.15853658536587 A 45.658536585365866 45.658536585365866 0 0 0 109.92384874401287 52.390736256831666 L 124.39846499201715 47.68764834244222 z">
                            </path>
                          </g>
                          <g id="SvgjsG1933" class="apexcharts-series apexcharts-pie-series" seriesName="Decor" rel="3"
                            data:realIndex="2">
                            <path id="SvgjsPath1934"
                              d="M 66.5 127.37804878048782 A 60.878048780487816 60.878048780487816 0 0 1 8.60153500798284 85.31235165755778 L 23.076151255987128 80.60926374316834 A 45.658536585365866 45.658536585365866 0 0 0 66.5 112.15853658536587 L 66.5 127.37804878048782 z"
                              fill="rgba(170,235,135,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt"
                              stroke-width="0" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-2"
                              index="0" j="2" data:angle="72" data:startAngle="180" data:strokeWidth="0" data:value="20"
                              data:pathOrig="M 66.5 127.37804878048782 A 60.878048780487816 60.878048780487816 0 0 1 8.60153500798284 85.31235165755778 L 23.076151255987128 80.60926374316834 A 45.658536585365866 45.658536585365866 0 0 0 66.5 112.15853658536587 L 66.5 127.37804878048782 z">
                            </path>
                          </g>
                          <g id="SvgjsG1935" class="apexcharts-series apexcharts-pie-series" seriesName="Fashion"
                            rel="4" data:realIndex="3">
                            <path id="SvgjsPath1936"
                              d="M 8.60153500798284 85.31235165755778 A 60.878048780487816 60.878048780487816 0 0 1 66.48937477611985 5.621952146737883 L 66.49203108208988 20.84146411005341 A 45.658536585365866 45.658536585365866 0 0 0 23.076151255987128 80.60926374316834 L 8.60153500798284 85.31235165755778 z"
                              fill="rgba(141,228,95,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt"
                              stroke-width="0" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-3"
                              index="0" j="3" data:angle="108" data:startAngle="252" data:strokeWidth="0"
                              data:value="30"
                              data:pathOrig="M 8.60153500798284 85.31235165755778 A 60.878048780487816 60.878048780487816 0 0 1 66.48937477611985 5.621952146737883 L 66.49203108208988 20.84146411005341 A 45.658536585365866 45.658536585365866 0 0 0 23.076151255987128 80.60926374316834 L 8.60153500798284 85.31235165755778 z">
                            </path>
                          </g>
                        </g>
                      </g>
                      <g id="SvgjsG1937" class="apexcharts-datalabels-group" transform="translate(0, 0) scale(1)"><text
                          id="SvgjsText1938" font-family="Public Sans" x="66.5" y="86.5" text-anchor="middle"
                          dominant-baseline="auto" font-size="15px" font-weight="400" fill="#646e78"
                          class="apexcharts-text apexcharts-datalabel-label"
                          style="font-family: &quot;Public Sans&quot;;">Average</text><text id="SvgjsText1939"
                          font-family="Public Sans" x="66.5" y="67.5" text-anchor="middle" dominant-baseline="auto"
                          font-size="1.5rem" font-weight="500" fill="#384551"
                          class="apexcharts-text apexcharts-datalabel-value"
                          style="font-family: &quot;Public Sans&quot;;">25%</text></g>
                    </g>
                    <line id="SvgjsLine1940" x1="0" y1="0" x2="133" y2="0" stroke="#b6b6b6" stroke-dasharray="0"
                      stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line>
                    <line id="SvgjsLine1941" x1="0" y1="0" x2="133" y2="0" stroke-dasharray="0" stroke-width="0"
                      stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line>
                  </g>
                  <g id="SvgjsG1922" class="apexcharts-annotations"></g>
                </svg>
                <div class="apexcharts-legend"></div>
                <div class="apexcharts-tooltip apexcharts-theme-false">
                  <div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker"
                      style="background-color: rgb(102, 199, 50);"></span>
                    <div class="apexcharts-tooltip-text"
                      style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                      <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span
                          class="apexcharts-tooltip-text-y-value"></span></div>
                      <div class="apexcharts-tooltip-goals-group"><span
                          class="apexcharts-tooltip-text-goals-label"></span><span
                          class="apexcharts-tooltip-text-goals-value"></span></div>
                      <div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span
                          class="apexcharts-tooltip-text-z-value"></span></div>
                    </div>
                  </div>
                  <div class="apexcharts-tooltip-series-group" style="order: 2;"><span class="apexcharts-tooltip-marker"
                      style="background-color: rgb(227, 248, 215);"></span>
                    <div class="apexcharts-tooltip-text"
                      style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                      <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span
                          class="apexcharts-tooltip-text-y-value"></span></div>
                      <div class="apexcharts-tooltip-goals-group"><span
                          class="apexcharts-tooltip-text-goals-label"></span><span
                          class="apexcharts-tooltip-text-goals-value"></span></div>
                      <div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span
                          class="apexcharts-tooltip-text-z-value"></span></div>
                    </div>
                  </div>
                  <div class="apexcharts-tooltip-series-group" style="order: 3;"><span class="apexcharts-tooltip-marker"
                      style="background-color: rgb(170, 235, 135);"></span>
                    <div class="apexcharts-tooltip-text"
                      style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                      <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span
                          class="apexcharts-tooltip-text-y-value"></span></div>
                      <div class="apexcharts-tooltip-goals-group"><span
                          class="apexcharts-tooltip-text-goals-label"></span><span
                          class="apexcharts-tooltip-text-goals-value"></span></div>
                      <div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span
                          class="apexcharts-tooltip-text-z-value"></span></div>
                    </div>
                  </div>
                  <div class="apexcharts-tooltip-series-group" style="order: 4;"><span class="apexcharts-tooltip-marker"
                      style="background-color: rgb(141, 228, 95);"></span>
                    <div class="apexcharts-tooltip-text"
                      style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                      <div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span
                          class="apexcharts-tooltip-text-y-value"></span></div>
                      <div class="apexcharts-tooltip-goals-group"><span
                          class="apexcharts-tooltip-text-goals-label"></span><span
                          class="apexcharts-tooltip-text-goals-value"></span></div>
                      <div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span
                          class="apexcharts-tooltip-text-z-value"></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="resize-triggers">
              <div class="expand-trigger">
                <div style="width: 904px; height: 151px;"></div>
              </div>
              <div class="contract-trigger"></div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-6 col-sm-6 col-lg-6  mt-3">
      <div class="card h-100">
        <div class="card-body">
          <div class="d-flex justify-content-between" style="position: relative;">
            <div class="d-flex flex-column">
              <div class="card-title mb-auto">
                <h5 class="mb-0">Income</h5>
                <!-- <p class="mb-0">Monthly Report</p> -->
              </div>
              <div class="chart-statistics">
                <h4 class="card-title mb-0">{{dashboardData?.incomeTotal | currency}}</h4>
              </div>
            </div>
            <div id="leadsReportChart" style="min-height: 149.8px;">
              
            </div>
            <div class="resize-triggers">
              <div class="expand-trigger">
                <div style="width: 904px; height: 151px;"></div>
              </div>
              <div class="contract-trigger"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-sm-6 col-lg-6  mt-3">
      <div class="card h-100">
        <div class="card-body">
          <div class="d-flex justify-content-between" style="position: relative;">
            <div class="d-flex flex-column">
              <div class="card-title mb-auto">
                <h5 class="mb-0">Balance</h5>
                <!-- <p class="mb-0">Monthly Report</p> -->
              </div>
              <div class="chart-statistics">
                <h4 class="card-title mb-0">{{balanceAmount  | currency}}</h4>
              </div>
            </div>
            <div id="leadsReportChart" style="min-height: 149.8px;">
              
            </div>
            <div class="resize-triggers">
              <div class="expand-trigger">
                <div style="width: 904px; height: 151px;"></div>
              </div>
              <div class="contract-trigger"></div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="row mt-3">
    <!-- Order Statistics -->
    <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
      <div class="card h-100">
        <div class="card-header d-flex align-items-center justify-content-between pb-0">
          <div class="card-title mb-0">
            <h5 class="m-0 me-2">Expenses</h5>
            <!-- <small class="text-muted">42.82k Total Sales</small> -->
          </div>
          <div class="dropdown">
            <button class="btn p-0" type="button" id="orederStatistics" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="bx bx-dots-vertical-rounded"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics">
              <a class="dropdown-item" href="javascript:void(0);">Select All</a>
              <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
              <a class="dropdown-item" href="javascript:void(0);">Share</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="d-flex flex-column align-items-center gap-1">
              <h2 class="mb-2">{{dashboardData?.expenseTotal | currency}}</h2>
              <!-- <span>Total Orders</span> -->
            </div>
            <div id="orderStatisticsChart"></div>
          </div>
          <ul class="p-0 m-0">
            <li class="d-flex mb-4 pb-1" *ngFor="let category of dashboardData?.categories">
              <div class="avatar flex-shrink-0 me-3">
                <img [src]="dashboardData?.categoryImagePath + category.category_image" alt="User" class="rounded" />

                <!-- <span class="avatar-initial rounded bg-label-primary"><i class="bx bx-mobile-alt"></i></span> -->
              </div>
              <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                <div class="me-2">
                  <h6 class="mb-0">{{category.category_name}}</h6>
                  <!-- <small class="text-muted">Mobile, Earbuds, TV</small> -->
                </div>
                <div class="user-progress">
                  <small class="fw-semibold">{{category.total | currency}}</small>
                </div>
              </div>
            </li>
           
          </ul>
        </div>
      </div>
    </div>
    <!--/ Order Statistics -->

    <!-- Expense Overview -->
    <div class="col-md-6 col-lg-4 order-1 mb-4">
      <div class="card h-100">
        <div class="card-header">
          <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
              <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab"
                data-bs-target="#navs-tabs-line-card-income" aria-controls="navs-tabs-line-card-income"
                aria-selected="true">
                Income
              </button>
            </li>
            <li class="nav-item">
              <button type="button" class="nav-link" role="tab">Expenses</button>
            </li>
            <li class="nav-item">
              <button type="button" class="nav-link" role="tab">Profit</button>
            </li>
          </ul>
        </div>
        <div class="card-body px-0">
          <div class="tab-content p-0">
            <div class="tab-pane fade show active" id="navs-tabs-line-card-income" role="tabpanel">
              <div class="d-flex p-4 pt-3">
                <div class="avatar flex-shrink-0 me-3">
                  <img src="../assets/img/icons/unicons/wallet.png" alt="User" />
                </div>
                <div>
                  <small class="text-muted d-block">Total Balance</small>
                  <div class="d-flex align-items-center">
                    <h6 class="mb-0 me-1">$459.10</h6>
                    <small class="text-success fw-semibold">
                      <i class="bx bx-chevron-up"></i>
                      42.9%
                    </small>
                  </div>
                </div>
              </div>
              <div id="incomeChart"></div>
              <div class="d-flex justify-content-center pt-4 gap-2">
                <div class="flex-shrink-0">
                  <div id="expensesOfWeek"></div>
                </div>
                <div>
                  <p class="mb-n1 mt-1">Expenses This Week</p>
                  <small class="text-muted">$39 less than last week</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Expense Overview -->


   
    <!-- Transactions -->
    <div class="col-md-6 col-lg-4 order-2 mb-4">
      <div class="card h-100">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h5 class="card-title m-0 me-2">Transactions</h5>
          <div class="dropdown">
            <button class="btn p-0" type="button" id="transactionID" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="bx bx-dots-vertical-rounded"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="transactionID">
              <a class="dropdown-item" href="javascript:void(0);">Last 28 Days</a>
              <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
              <a class="dropdown-item" href="javascript:void(0);">Last Year</a>
            </div>
          </div>
        </div>
        <div class="card-body">

         

          <ul class="p-0 m-0">
            <li class="d-flex mb-4 pb-1" *ngFor="let category of dashboardData?.categories">
              <div class="avatar flex-shrink-0 me-3">
                <img [src]="dashboardData?.categoryImagePath + category.category_image" alt="User" class="rounded" />
              </div>
              <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                <div class="me-2">
                  <!-- <small class="text-muted d-block mb-1">{{category.category_name}}</small> -->
                  <h6 class="mb-0">{{category.category_name}}</h6>
                </div>
                <div class="user-progress d-flex align-items-center gap-1">
                  <h6 class="mb-0">{{category.total | currency}}</h6>
                  <!-- <span class="text-muted">USD</span> -->
                </div>
              </div>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
    <!--/ Transactions -->
  </div>
</div>